.App {
  text-align: justify;
  background-color: #f8a977;
}

img.poster {
  width: 20%;
  height: 350px;
  object-fit: fill;
}
.title {
  background-color: orangered;
  color: white;
  font-size: 2rem;
  text-align: center;
}
.film-title {
  font-family: "Montserrat", sans-serif;
}

.row {
  clear: both;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.col {
  margin-left: 5rem;
}
.left {
  float: left;
}
.right {
  float: right;
  width: 40%;
}
.search-section {
  display: flex;
  justify-content: center;
}

.box {
  border: 1px dotted #f8a977;
  margin: 5rem;
  background-color: #f8a977;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 3px;
}
.mapBtn {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
}

.footer {
  height: 2rem;
  background-color: #000814;
  color: #ffc300;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 1rem;
}
